html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.account-info p {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 20px 0;
}

.account-info i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 22%;
    margin: 10px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
    font-size: 24px;
    font-weight: bold;
    background-color: #f8f9fa;
    color: black;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 10px;
    text-align: center;
}

.nav-link:hover {
    color: #007bff; 
    text-decoration: underline;
}


.btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    color: #007bff;
    text-decoration: underline;
}

footer {
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
